@import "tailwindcss";



/*
============================================================
SURENMAH PALETTE
============================================================
*/

:root {
  --porcelain: #FBF6F2;
  --petrol: #0B3C39;
  --petrol-soft: #123F3C;
  --blush: #F4A896;
  --coral: #E8674B;
  --mint: #CFE8E1;
  --button-pink: #B9436A;
  --button-pink-hover: #CE8199;

}


/*
============================================================
TAILWIND 4 THEME
============================================================
*/

@theme inline {
  --color-porcelain: var(--porcelain);

  --color-petrol: var(--petrol);
  --color-petrol-soft: var(--petrol-soft);

  --color-blush: var(--blush);
  --color-coral: var(--coral);
  --color-mint: var(--mint);
  --color-button-pink: var(--button-pink);
  --color-button-pink-hover: var(--button-pink-hover);

  --font-sans: "Vazirmatn", sans-serif;
}


/*
============================================================
FONT
============================================================
*/

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


/*
============================================================
GLOBAL
============================================================
*/

html {
  background: var(--porcelain);
}

body {
  margin: 0;
  background: var(--porcelain);
  color: var(--petrol);
  font-family: "Vazirmatn", sans-serif;
}


.btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: all 200ms;
}

.btn-primary {
  border-radius: 0.75rem;
  background: var(--button-pink);
  border: 1px solid rgb(255 255 255 / 30%);
  padding: 1rem 2.5rem;
  font-size: 1.125rem;
  color: white;
  box-shadow: 0 10px 15px -3px rgb(217 143 165 / 25%);
}

.btn-primary:hover {
  background: var(--button-pink-hover);
  color: var(--petrol);
  transform: translateY(-2px);
  box-shadow: 0 20px 25px -5px rgb(206 129 153 / 30%);
}